<div class="container-fluid">
  <div class="jumbotron">
    <div [@listAnimation]="items.length">
      <div *ngFor="let item of items | keyvalue">
        <strong>{{ item.key }}:</strong>
        <span> {{ item.value }}</span>
      </div>
    </div>
    <div class="card social-card">
      <div class="card-body">
        <h5 class="card-title">Vignesh Selvaraj</h5>
        <h6 class="card-subtitle mb-2 text-muted">Lead Full Stack Engineer</h6>
        <app-social-icons></app-social-icons>
      </div>
    </div>
  </div>
</div>
