@import "src/theme/theme-variables";

.loader {
  display: inline-block;
  width: 64px;
  height: 64px;
  &::after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $gray-800;
    border-color: $gray-800 transparent $gray-800 transparent;
    animation: dual-ring 1.2s linear infinite;
  }
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
