$chart-blue : #6bb7c7;

.charts {
  &--container {
    width: 100%;
    margin: 1em auto;
    .bar-chart {
      min-height: 300px;
      padding: 1em;
      &--headbar {
        position: relative;
      }
      .tick {
        @media (max-width: 768px) {
          &:nth-child(2n + 1) {
            display: none;
          }
        }
      }

      .bar-line-label {
        font-size: 0.75em;
      }

      .line {
        stroke: #b9460f;
        stroke-width: 3;
      }

      .dot {
        fill: #b9460f;
      }

    }

  }
  &--headbar {
    text-align: center;
    color: #444;
    background-color: #fff;
    padding: 1em;
  }
}


.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
