<div class="container-fluid">
    <div class="clearfix"></div><br>
  <div class="btn-group" role="group" aria-label="frequency filters">
    <button type="button" class="btn btn-secondary">Daily</button>
    <button type="button" class="btn btn-secondary">3 Months</button>
    <button type="button" class="btn btn-secondary">6 Months</button>
    <button type="button" class="btn btn-secondary">12 Months</button>
  </div>
  <div class="clearfix"></div><br>
  <div *ngIf="isLoading; else showCharts">
      <app-loader [isLoading]="isLoading"></app-loader>
  </div>
  <div class="clearfix"></div><br>
  <ng-template #showCharts>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <app-line-chart [elementId]="'sales'"
                          [chartTitle]="'Sales'"
                          [chartData]="sales_data">
          </app-line-chart>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <app-line-chart [elementId]="'new_sales'"
                          [chartTitle]="'New Sales'"
                          [chartData]="new_sales_data">
          </app-line-chart>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <app-line-chart [elementId]="'payment_data'"
                          [chartTitle]="'Payments'"
                          [chartData]="payments_data">
          </app-line-chart>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <app-line-chart [elementId]="'refunds_data'"
                          [chartTitle]="'Refunds'"
                          [chartData]="refunds_data">
          </app-line-chart>
        </div>
      </div>
  </ng-template>
</div>
