$chart-blue : #6bb7c7;

.charts {
  &--container {
    width: 100%;
    margin: 1em auto;
    .chart {
      padding: 1em;
      &--headline {
        position: relative;
      }
    }

  }
  &--headline {
    text-align: center;
    color: #444;
    background-color: #fff;
    padding: 1em;
  }
}

.lineChart {
  &--svg {
    overflow:visible;
  }
  &--area {
    fill: url(#lineChart--gradientBackgroundArea);
  }
  &--areaLine {
    fill   : none;
    stroke : $chart-blue;
    stroke-width: 3;
  }
  &--bubble {
    z-index: 1;
    &--label {
      fill: $chart-blue;
      stroke: $chart-blue;
      font-style: italic;
    }
    &--value {
      fill: #fff;
      stroke: #fff;
    }
  }
  &--circle {
    fill: $chart-blue;
    stroke: #fff;
    stroke-width: 3;
    &--highlighted {
      fill: $chart-blue;
      stroke: adjust-lightness( $chart-blue, -15 );
    }
  }
  &--gradientBackgroundArea {
    &--top {
      stop-color   : $chart-blue;
      stop-opacity : 0.1;
    }
    &--bottom {
      stop-color   : $chart-blue;
      stop-opacity : 0.6;
    }
  }
  &--xAxisTicks,
  &--xAxis,
  &--yAxisTicks {
    .domain {
      display: none;
    }
  }
  &--xAxis {
    .tick {
      line {
        display: none;
      }
    }
  }

  &--xAxisTicks,
  &--yAxisTicks {
    .tick {
      line {
        fill: none;

        stroke-width: 1;
        stroke-dasharray: 2,2;
      }
    }
  }
}
